
.gradle/5.4.1/fileHashes/fileHashes.lock
.idea/vcs.xml
.idea/workspace.xml
local.properties
local.properties
ARDrawing.iml
ar-drawing-java-master.iml
.idea/workspace.xml
.idea/modules.xml
.idea/caches/gradle_models.ser
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
local.properties
